<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36341940553-enrmnud974582kre3usubvfnuort0urp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36341940553-enrmnud974582kre3usubvfnuort0urp</string>
	<key>API_KEY</key>
	<string>AIzaSyBGfrX5va8K0CEg32pTFeZ1puWyC6z_gEw</string>
	<key>GCM_SENDER_ID</key>
	<string>36341940553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifeschool</string>
	<key>PROJECT_ID</key>
	<string>life-school-99984</string>
	<key>STORAGE_BUCKET</key>
	<string>life-school-99984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36341940553:ios:bf46317f9c6d6a05b81a98</string>
	<key>DATABASE_URL</key>
	<string>https://life-school-99984.firebaseio.com</string>
</dict>
</plist>